.heading-jocuri {
  color: #d4f1f4;

  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 2rem;
  margin-bottom: 8rem;
}
.gartic-img {
  width: 45%;
}
.skribbl-img {
  width: 45%;
}
.triviador-img {
  width: 35%;
}
.pixwords-img {
  width: 35%;
}

.grid {
  display: grid;
  column-gap: 4rem;
  row-gap: 4rem;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.number {
  font-size: 8.6rem;
  font-weight: 600;

  color: #d4f1f4;
}
.heading3 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  font-weight: 700;
  color: #d4f1f4;
  letter-spacing: -0.5px;
}
.text-box {
  justify-self: center;
  padding-left: 8rem;
}

.reguli {
  font-size: 2rem;
  list-style: circle;

  gap: 4rem;

  color: #d4f1f4;
}
.odd-game {
  background-color: #2ca6a8;
  padding: 4rem;
}
.even-game {
  padding: 4rem;
  background-color: #2a727b;
}
.even-game:last-child {
  padding: 4rem;
  background-color: #2a727b;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRight {
  0% {
    opacity: 0%;
    transform: translateX(50%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0%;
    transform: translateX(-50%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}
.section2 {
  position: relative;
}
.blob {
  position: absolute;
  width: 60rem;
  opacity: 50%;
  top: 94rem;
  left: -10rem;
  transform: rotate(90deg);
  z-index: -1;
}
.blob2 {
  position: absolute;
  width: 100rem;
  opacity: 50%;
  top: 90rem;
  right: -10rem;
  z-index: -1;
}
.blob3 {
  position: absolute;
  width: 60rem;
  opacity: 50%;
  bottom: 20rem;
  left: 6rem;
  z-index: -1;
  transform: rotate(90deg);
}
.blob4 {
  position: absolute;
  width: 60rem;
  opacity: 50%;
  bottom: -10rem;
  right: 16rem;
  z-index: -1;
}
.scrollTo-jocuri {
  position: relative;
  width: 10px;
  content: "";
  top: -28rem;
}
