.section3 {
  width: 100vw;
}

.noi {
  color: #d4f1f4;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;

  padding: 0 2rem;
  width: fit-content !important;
  margin-bottom: 4rem;
}
.echipa-container {
  height: 60rem;
  width: 50vw;
  margin: 0 auto;
  position: relative;
}
.img-echipa1 {
  position: absolute;
  width: 40rem;
  left: -36rem;
  top: 2rem;
  transform: rotate(deg);
}
.img-echipa2 {
  position: absolute;
  width: 40rem;
  left: 70rem;
  top: 30rem;
  transform: rotate(deg);
}

.persoana {
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin-bottom: 4rem;
  transition: filter 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
}

.persoana > h3 {
  padding-bottom: 5px;
  padding-left: 8px;
  font-size: 2rem;
  color: white;
  opacity: 0%;
  transition: opacity 0.6s ease;
  margin: 0 auto;
}

.persoana:hover > h3 {
  opacity: 100%;
}

.persoana:hover {
  filter: grayscale(20%) brightness(80%);
}

.persoana:nth-child(2) {
  position: relative;
  top: 2rem;
}
.pers1 {
  background-image: url("/public/alexia.png");
}
.pers2 {
  background-image: url("/public/catalina2.jpeg");
}
.pers3 {
  background-image: url("/public/cezar.png");
}
.pers4 {
  background-image: url("/public/cristina2.png");
}
.pers5 {
  background-image: url("/public/cristina3.png");
}
.pers6 {
  background-image: url("/public/cristi2.jpeg");
}
.pers7 {
  background-image: url("/public/iulia.jpeg");
}
.pers8 {
  background-image: url("/public/luchi.png");
}
.pers9 {
  background-image: url("/public/mimi.jpeg");
}
.grupa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 0px;
  width: 40vw;
  margin: 0 auto;
}
.scrollTo-echipa {
  position: relative;
  width: 10px;
  content: "";
  top: 28rem;
}

@media only screen and (max-width: 600px) {
  .img-echipa1 {
    display: none;
  }
  .img-echipa2 {
    display: none;
  }
  .grupa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .persoana:nth-child(2) {
    top: 0;
  }
}
